body {
  margin: 0;
  background-image: url('/bats.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #efefef;

  background-blend-mode: soft-light;
}

a {
  text-decoration: none;
}

.App {
  min-height: calc(100vh - 132px);
}